# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.pio_build/

# IDE
.vscode/
.clangd/
.cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~

# Build artifacts
build/
dist/
tutorials/
